body{
	margin-top: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 11px;
}

*:focus {
    outline: none;
}

.btn:focus{
    outline-width: 0;
}

input[type="text"].form-control {
	color: black;
  	font-weight: 300;
}

.center{
	text-align: center;
}

.left {
	text-align: left;
}

.hide{
	display: none;
}

.thin{
	font-weight: 100;
}

.bold{
	font-weight: 700;
}

.white{
	color: white;
}

.upper{
	text-transform: uppercase;
}

.lower{
	text-transform: lowercase;
}

.pointer {
	cursor: pointer;
}







/* AUDIO PLAYER VIEW *************************** */


.song-player-container {
	text-align: center;
	background-color: rgba(0,0,0,0.9);
	color: rgb(231, 231, 231);
	position: fixed;
	z-index: 100;
	width: 100%;
	bottom: 0;
	left: 0;
	margin: 0;
}

.song-player-container .title-and-artist {
	font-weight: 300;
  	padding-left: 30px;
  	padding-right: 30px;
}

.spotify-player-container {
	height: 0;
	min-height: 80px;
}

.song-player-container .close-playing-all-btn{
	position: absolute;
	right: -10px;
	top: -10px;
	height: 20px;
	width: 23px;
	border-radius: 15px;
	font-size: 10px;
	padding: 5px;
	padding-bottom: 16px;
	background-color: #cc181e;
	color: white;
}

.song-player-container p{
	color: white;
	background-color: rgba(76, 76, 76, 0.79);
	padding: 3px;
	width: 100%;
	letter-spacing: 1.5px;
}

.song-player-container .playingAll{
	padding: 10px;
	width: 67%;
	display: inline-block;
}

.play-control-btn {
	border: none;
	padding: 10px;
	background-color: rgb(117, 113, 113);
	color: white;
}

.play-control-btn {
	border: none;
	padding: 10px;
	background-color: rgb(117, 113, 113);
	color: white;
}






/* BUTTONS ***************************/

.edit-btn {
	display: inline-block;
	background-color: green;
	color: white;
	width: 40px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	font-size: 18px;
	margin: 5px;
}

.confirm {
	background-color: green;
	color: white;
}

.discard {
	background-color: red;
	color: white;
}

.button-ish-two {
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.3;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 4px;
	margin: 1px;
	border: 2px solid rgb(255, 245, 245);
	width: 100%;
	padding: 7px;
	/* box-shadow: 5px 5px 1px rgba(160, 155, 155, 0.42); */
	border: none;
	color: white;
}

.btn-container {
	text-align: center;
}

.youtube-btn {
	background-color: rgb(123, 186, 234);
}

.soundcloud-btn {
	background-color: rgb(42, 168, 180);
}

.spotify-btn {
	background-color: rgb(228, 114, 114);
}

.comment-btn {
	background-color: #E3A979;
}

.video-btn{
	background-color: rgb(95, 183, 124);
}

.load-more-btn {
	background: rgb(67, 65, 65);
  	font-size: 18px;
  	height: 43px;
}







/* COMMENT COMPONENT *************************** */


.comment-list{
	color: white;
	border-radius: 10px;
	padding: 10px 0 0 20px;
	margin-bottom: 20px;
}

.comment-list p{
	padding: 10px 10px 10px 10px;
	display: inline-block;
	background-color: rgba(90, 90, 90, 0.81);
	margin-bottom: 4px;
	font-family: 'Raleway', sans-serif;
	font-size: 1.0em;

}

.comment-component{
	text-align: center;
	margin-bottom: 20px;
}

.comment-component .ember-text-area {
	background-color: rgba(90, 90, 90, 0.81);
	color: white;
	font-weight: 300;
	font-size: 16px;
	border: none;
	width: 100%;
	margin-top: 20px;
	height: 100px;
}

.comment-component .ember-text-area::-webkit-input-placeholder {
   color: white;
}

.comment-component .ember-text-area::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

.comment-component .submit-comment-btn {
	margin-bottom: 20px;
	background-color: rgb(21, 21, 21);
	color: white;
	width: 100%;
}






/* CONTROL NAV BAR *****************************/


.color-bar {
	width: 100%;
	height: 10px;
	font-size: 0px;
	position: fixed;
	z-index: 10000;
}

.color-bar .color-bar-single {
	width: 25%;
	display: inline-block;
	padding-bottom: 15px;
}

.color-bar .cbs-one {
	background-color: #009ABE;
}

.color-bar .cbs-two {
	background-color: #35B364;
}

.color-bar .cbs-three {
	background-color: #F4BD00;
}

.color-bar .cbs-four {
	background-color: #EA6060;
}

.music-control-bar {
	position: fixed;
	text-align: center;
	min-width: 650px;
	background-color: rgb(67, 65, 65);
	z-index: 10000;
	width: 100%;
	padding: 5px;
	margin-top: 10px;
}

.music-control-bar div {
	display: inline-block;
}

.search-container {
	padding-right: 25px;
}

.search-container .search-box{
	width: 235px;
	border-radius: 3px;
	padding: 5px;
	border: 0;
	display: inline-block;
}

.music-control-bar .sorting-btn {
	text-transform: uppercase;
	font-weight: 200;
	font-size: 11px;
	border-radius: 0;
	background-color: transparent;
	display: inline-block;
	margin: 0px;
	color: white;
	text-align: right;
	border-right: 1px solid rgb(62, 62, 68);
}

.music-control-bar .sorting-btn:hover {
	background-color: rgb(139, 172, 205);
}

.show-music-controls-btn {
	display: inline-block;
	position: fixed;
	z-index: 50;
	left: 0;
	border: 0;	
	width: 35px;
	font-size: 15px;
  	background: rgb(54, 54, 54);
  	color: rgb(131, 131, 131);
}


.music-control-bar .dropdown-menu {
	background-color: rgb(247, 156, 109);
	font-size: 10px;
}


.music-control-bar .dropdown-menu li {
	padding: 6px;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
}

.music-control-bar .dropdown-menu li:hover {
	cursor: pointer;
	background-color: rgb(242, 182, 152)
}

.music-control-bar .sorting-btn .caret {
	margin-left: 10px;
}








/* FORM COMPONENT ****************************/


.form-component .container {
	background-color: white;
	padding: 30px;
	margin-top: 50px;
	border-radius: 3px;
	max-height: 520px;
  	overflow-y: scroll;
}

.form-component label {
	margin-bottom: 0;
	margin-top: 5px;
}

.form-component h3, .form-component p {
	text-align: center;
}

.form-component .form-control {
	background-color: #EEEEEE;
	height: 36px;
	border-radius: 2px;
}

.form-component textarea {
	height: 50px;
}

.form-btn-block {
	margin-top: 30px;
}

.form-btn-block .btn {
	width: 100%
}

.form-fields {
	font-weight: 500;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 10px;
}

.form-fields .form-control .btn-primary{
	display: block;
	width: 100%;
	margin-top: 20px;
}

.form-video-help {
	display: inline-block;
}

.form-video-help a {
	text-align: center;
	margin-left: 10px;
	margin-top: 6px;
	width: 20px;
	text-decoration: none;
	color: white;
	display: inline-block;
	background-color: #428bca;
	border-radius: 20px;
}

.form-video-help a video{ 
	display:none;
}

.form-video-help a:hover video { 
	display: block;
	position: absolute;
	z-index: 100;
	top: 0px;
}

.form-video-help a.left:hover video { 
	display: block;
	position: absolute;
	z-index: 100;
	top: 0px;
	left: 100px;
}





/* LANDING PAGE ****************************/


video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	opacity: 0.9;
	background: no-repeat;
	background-size: cover;
}

.jumbotron{
	text-align: center;
	margin-top: 30px;
	opacity: 0.9;
	padding: 48px;
}

.jumbotron .form-control{
	width: 100%;
}

.jumbotron h1{
	text-align: center;
}






/* LISTEN PAGE ***************************/



#listen-page {
	padding-top: 20px;
}

#listen-page #listen-img {
	width: 75%;
  	position: fixed;
  	z-index: -100;
  	left: 50%;
  	margin: 0 0 0 -37.5%;
}

#listen-page .music-control-bar {
	text-align: left;
	margin-top: 0;
	padding: 7px 5px 5px 25px;
}

#listen-page .listen-component {
	padding: 5px;
}

#listen-page .music-item {
	color: white;
	background-color: rgba(0,0,0,0.8);
	font-weight: 300;
	margin-top: 15px;
	border: 3px solid white;
}

#listen-page .music-item .review {
	color: rgb(255, 252, 249);
	font-weight: 100;
	margin-top: 45px;
}

#listen-page .comment-btn {
	background-color: rgb(114, 187, 211);
}

#listen-page .play-btn {
	background-color: rgb(221, 101, 101);
	margin-bottom: 20px;
}

.all-listens {
	padding-top: 50px;
}

.all-listens .col-md-8 {
	padding: 0;
}

.all-listens .col-md-4 {
	padding: 0;
}

.listen-form-container{
	margin-top: 50px;
	padding-top: 15px;
}

.listen-form-container .close-listen-form {
	position: absolute;
	right: 0;
	margin-top: 20px;
	border: none;
	color: white;
	background-color: rgb(231, 57, 57);
	width: 25px;
	border-radius: 3px;
}

.listen-form-container .listen-form {
	margin-top: 60px;
	background: azure;
	padding: 15px;
	border-radius: 3px;
}

.listen-form-container .listen-form .form-control {
	margin-top: 10px;
	color: #242323;
	font-weight: 500;
	border: 2px solid #D3CDCD;
}

.listen-form-container .listen-form .btn {
	border: none;
	color: white;
}

.listen-title {
	font-size: 22px;
	margin-bottom: 15px;
	text-align: center;
}

.listen-artist {
	font-size: 15px;
	text-align: center;
}

.list-listen {
	margin-top: 25px;
	height: 500px;
}






/* MODAL LAYER ****************************/


.modal-layer{
	z-index: 1000;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-color: rgba(0,0,0,0.9);
	background-size: cover;
}

.modal-layer .exit-btn{
	background-color: rgb(68, 68, 68);
	width: 10%;
	margin-left: auto;
	margin-right: auto;
	color: rgb(255, 255, 233);
}

.modal-layer .exit-btn:hover{
	cursor: pointer;
}

.modal-layer .video-theater {
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
	  margin-top: 40px;
}







/* NAVBAR ***************************/


.navbar{
	font-weight: 200;
	padding-left: 40px;
	padding-right: 90px;
	z-index: 10000;
}

.navbar-header{
	margin-right: 100px;
}

.navbar-right li{
	cursor: pointer;
}

.navbar .close-player-button {
	cursor: pointer;
}




.form-component .movieFormComponent .container {
	 padding: 0px; 
	 margin-top: 0px; 
	 max-height: 2000px; 
	 overflow-y: auto; 
}



/* MOVIE PAGE ***************************/

#movie-page {
	padding-top: 20px;
}

#movie-page .movie-poster {
	height: 200px;
}

#movie-page .tomato {
	height: 20px;
}

#movie-page .movie-content {
	margin-top: 75px;
}

#movie-page .movie-results {
	margin-bottom: 15px;
}

#movie-page table {
	font-size: 14px;
  	font-weight: 500;
}

#movie-page table .movie-cast, #movie-page table .movie-title, #movie-page table .movie-director {
	width: 160px;
}

#movie-page .search-movie-year {
	width: 50px;
}

.movie-poster-container, .movie-text-container{
	display: inline-block;
}

.movie-poster-container {
	vertical-align: top;
}

.movie-text-container p {
	font-size: 14px;
	font-weight: 400;
	max-width: 500px;
}

span.glyphicon.glyphicon-star {
  	color: gold;
}

span.glyphicon.glyphicon-star-empty {
	color: rgb(200, 200, 200);
}

.rate-movie-btn {
	line-height: 10px;
  	margin-left: 10px;
  	padding: 5px;
  	font-size: 12px;
}

.movie-review-box textarea {
	width: 100%;
  	border: 2px solid rgb(196, 196, 196);
}

.movie-review-box input {
	width: 100px;
	line-height: 21px;
	padding-left: 5px;
	border: 2px solid rgb(196, 196, 196);
	margin-right: 10px;
}

.movie-show-user-review-btn {
	display: inline-block;
	width: 45px;
	font-size: 10px;
	padding: 3px 4px;
	margin-left: 3px;
}



/* NETFLIX PAGE ***************************/

#netflix-page {
	padding: 50px 100px;
	font-size: 12px;
	font-weight: 300;
}

#netflix-page h3 {
	margin-bottom: 40px;
}

#netflix-page li {
	padding: 5px 0;
}

#netflix-page button {
	margin-top: 20px;
}

#netflix-page .btn-success a {
	color: white;
}



/* PODCAST PAGE ***************************/


#podcast-page {
	padding-top: 20px;
}

#podcast-page #podcast-img {
	width: auto;
  	position: fixed;
  	z-index: -100;
  	height: 100%;
  	padding-top: 40px;
  	padding-bottom: 35px;
}

#podcast-page .music-control-bar {
	text-align: left;
	padding-left: 30px;
}

.content-container {
	padding-top: 70px;
}

.podcast-play-btn {
	border: 0;
  	padding: 5px 10px;
  	margin-right: 15px;
}

.podcast-entry {
	border: 1px solid black;
  	margin-bottom: 10px;
  	border-radius: 2px;
}

.podcast-entry-title {
	background: rgb(255, 184, 84);
	margin: 0;
	font-size: 16px;
	padding-left: 15px;
	font-weight: 300;
	border-bottom: 1px solid black;
}

.podcast-review {
	background: rgba(222, 233, 234, 1);
  	padding: 5px 15px;
  	margin: 0;
}

.podcast-review .upper {
	margin-right: 7px;
	font-weight: bold;
}







/* SONGS PAGE *****************************/



#all-music {
	padding-top: 50px;
	padding-bottom: 150px;
}

#music-page {
	margin-top: 50px;
}

#music-page #bgimg {
	position: fixed; 
	z-index: -100;
	height: 100%;
}

#all-music .col-md-4 {
	padding-left: 5px;
	padding-right: 5px;
}

#all-music .col-md-10 {
	padding-left: 0;
	padding-right: 0;
}

.music-item {
	text-align: left;
	color: white;
	/*background-color: rgba(10, 90, 126, 0.95);*/
	background-color: rgba(8, 54, 77, 0.95);
	border: 3px solid white;
	margin: 0px 0px 15px 0px;
	padding: 5px 20px 10px 20px;
	position: relative;
}

.title-header {
	padding: 20px;
	font-family: Raleway;
	font-weight: 100;
	opacity: 0.8;
	text-align: center;
	padding: 10px;
	border-radius: 2px;
}

.title-header.long-listen-title {
	color: black;
	background-color: white;
	border: 1px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 5px;
	margin-left: 5px;
}

.music-item.isNew {
	box-shadow: 0px 0px 10px 3px rgba(219, 66, 66, 1);
  	border: 3px solid rgb(230, 99, 99);
}

.music-item:hover {
	background-color: rgba(0,0,0,0.9);
}

.music-item .music-favorite {
	position: absolute;
	right: 11px;
	font-size: 28px;
	top: 3px;
	cursor: pointer;
}

.music-item .music-favorite.isFavorite{
	color: rgb(229, 76, 76);
}

.music-item .top-bar {
	text-align: center;
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 11px;
	cursor: pointer;
}

.music-item .bottom-bar {
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 10px;
	margin-top: 20px;  
}

.music-item .text-wrapper {
	min-height: 170px;
}

.music-item .title {
	margin-bottom: 10px;
	font-size: 15px;
}

.music-item .artist {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 300;
	cursor: pointer;
}

.music-item .album {
	font-size: 15px;
	line-height: 1.4;
	display: inline-block;
}

.music-item .year {
	font-size: 15px;
	line-height: 1.4;
	display: inline-block;
}

.music-item .review {
	padding: 30px 10px 30px 10px;
	line-height: 1.5em;
	margin-top: 15px;
	margin-bottom: 15px;
	display: block;
	background-color: rgba(90, 90, 90, 0.81);
	margin-bottom: 4px;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	line-height: 1.7;
}

.music-item .review-btn {
	margin-top: 20px;
}

.review.external {
	display: inline-block;
}

.music-item .edit-container {
	width: 100%;
	text-align: center;
}

.music-item .edit-input {
	border: 0;
	background-color: rgb(90, 90, 90);
	width: 100%;
}





/* TAGS COMPONENT ***************************/

.tag-component {
	margin-top: 10px;
}

.tag-list {
	margin-bottom: 20px;
}

.tag-btn, .tag-btn-plus {
	background-color: #337ab7;
	color: white;
	border: none;
}

.tag-btn {
	font-size: 10px;
  	padding: 4px;
}

.tag-component .form-control {
	width: 40%;
	display: inline-block;
}

.tag-btn-plus {
	font-size: 22px;
  	width: 21px;
  	border-radius: 13px;
  	line-height: 0.4;
  	padding: 5px;
}

.tag-btn-text {
	width: 80px;
	font-size: 10px;
	height: 24px;
	border-radius: 4px;
}

.submit-tag-btn {
	width: 15%;
	vertical-align: top;
}

.tag-suggestion {
	cursor: pointer;
}





/* TUNE PAGE ***************************/


.edit-tune-form {
	margin-top: 100px;
	font-weight: 300;
}

.edit-tune-form h1 {
	text-align: center;
}

.edit-tune-form label {
	margin-top: 10px;
}

.edit-tune-form .btn-primary {
	margin-top: 30px;
}

.edit-tune-form .btn-danger {
	margin-top: 10px;
}





/* USERS PAGE *************************** */



#users-page {
	padding-top: 50px;
}

#users-page .search-container {
	padding: 0;
}

#users-page .search-box {
	border-radius: 3px;
	padding: 5px;
	border: 0;
	display: inline-block;
	border: 1px solid rgb(213, 209, 209);
	line-height: 2;
	width: 100%;
}

#users-page .isFollowing {
	width: 100px;
  	height: 30px;
  	border: 0;
  	border-radius: 1px;
}

.user-list-item h3 {
	display: inline-block;
	width: 220px;
	cursor: pointer;
}

.user-list-item button {
	margin-left: 20px;
}




/* USER PAGE *************************** */



#user-page {
	padding-top: 50px;
	padding-bottom: 200px;
}

#user-page .user-title {
	border-bottom: 3px solid black;
  	padding-bottom: 7px;
}




/* MEDIA SCREEN *************************** */

@media screen and (max-width: 1000px) {
	#frontimg {
		height: 100%;
		width: initial;
	}
}

@media screen and (max-height: 795px) {
	#frontimg {
		height: 100%;
	}
}

@media screen and (max-width: 920px) {
	.navbar {
		padding-right: 10px;
	}

	.navbar-header{
		margin-right: 30px;
	}
	.navbar-nav li a{
		padding-left: 10px;
		padding-right: 10px;
	}
	.nav.navbar-nav.navbar-right {
		margin-right: 15px;
	}
}

@media screen and (max-width: 1050px) {	
	#all-music {
    	padding-top: 85px;
    }

	#music-page .music-control-bar .btn.sorting-btn {
    	font-size: 12px;
    	padding-top: 10px;
    }

    #music-page .music-control-bar {
    	text-align: center;
    	min-width: 0;
    }
    
    #music-page .music-control-bar .search-container {
    	display: block;
    	padding-left: 0px;
    	padding-right: 0px;
    }

    #music-page .music-control-bar .search-container .search-box{
    	width: 100%;
    }
}

@media screen and (max-width: 650px) {	
	#music-page .music-control-bar .recent-sort-btn{
		display: none;
	}
}

@media screen and (max-width: 580px) {	
	#music-page .music-control-bar .add-tunes-btn, #music-page .music-control-bar .video-sort-btn{
		display: none;
	}

	#music-page .music-control-bar .sorting-btn-container .sorting-btn {
		padding-left: 7px;
  		padding-right: 7px;
	}

	
}
